/* body {
    margin: 0;
    padding: 0;
    background-image: url('WhatsApp Image 2024-02-28 at 12.09.44 AM.jpeg');
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
} */
  
  .webrtc-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .aboutusH1 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 6pt;
    font-size: 2.3em;
    color: rgb(89, 12, 12);
    line-height: 1.6em;
    text-align: center; /* Center the text */
    margin-top: 1rem;
  }
  
  .aboutusH1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 48%;
    transform: translateX(-50%);
    height: 2px;
    width: 170px; /* Adjust width as needed */
    background-color: orange;
  }
  
  .webrtc-form {
    display: flex;
    flex-direction: column;
  }
  
  .webrtc-label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .webrtc-input {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .webrtc-button {
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(to right, #7289da, #ffff);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .webrtc-button:hover {
    background: linear-gradient(to right, #4e5d94, #e6e6e6);
  }